.pagination {
  padding: 70px 100px 30px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }

  &__item {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    color: #588994;
    border: 1px solid #588994;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 9px 1px;
    cursor: pointer;

    &:hover {
      font-size: 23px;
    }

    &.active {
      color: #9d5d33;
      background-color: rgba(157, 93, 51, 0.1);
      border: 1px solid #9d5d33;
      pointer-events: none;
    }
  }
}
