.search__form {
  margin-bottom: 35px;

  .search__inner {
    width: 400px;
    margin: 0 auto;
  }

  .search__input {
    font: 400 15px/20px 'Open Sans', sans-serif;
    width: inherit;
    border: 1px solid #768297;
    padding: 9px;
    border-radius: 15px;
    color: #747985;
  }
}