@import url(./assets/styles/normalize.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
}